head {
    /* from TL in content */
background: green;
}

main { 
    /* commit from D1 */
    /* coment from D2 */
    background: rgb(120, 127, 147);
}

header {
   color: aqua; 
   text-align: center;
   /* commit from D1 */
}

body {
    background-color: bisque;
    /* commit from D2 */
}


main {
    /* tl-content from TL */
}
