head {
    /* from TL in content */
background: green;
}

main { 
    /* commit from D1 */
    background: rgb(79, 96, 143);
}

header {
   color: aqua; 
   text-align: center;
   /* commit from D1 */
}

body {
git push

}

